<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Ilmot" 
         connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=DemoxOy;Persist Security Info=True;User ID=koodari;Password=koodari13"
         providerName="System.Data.SqlClient" />
    <add name="connstr" connectionString="server=eight.labranet.jamk.fi;user=koodari;database=DemoxOy;password=koodari13" providerName="MySql.Data.MySqlClient"/>
    <add name="oma" connectionString="server=mysql.labranet.jamk.fi;user=G2776;database=G2776;port=3306;password=eYJ6StSKfENeMm6tk1o3cHbt8dHnyNHG"/>
  </connectionStrings>

  <appSettings>
    <add key="tyontekijat" value="D:\G2776\App_Data\Työntekijät2013.xml"/>
    <add key="users" value="D:\G2776\App_Data\users.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>